---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: maasvalidators.validation.spectrocloud.labs
spec:
  group: validation.spectrocloud.labs
  names:
    kind: MaasValidator
    listKind: MaasValidatorList
    plural: maasvalidators
    singular: maasvalidator
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MaasValidator is the Schema for the maasvalidators API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MaasValidatorSpec defines the desired state of MaasValidator
            properties:
              MaasInstance:
                description: MaasInstance describes the MaaS host
                properties:
                  auth:
                    description: Auth provides authentication information for the
                      MaaS Instance
                    properties:
                      secretName:
                        type: string
                      token:
                        type: string
                    type: object
                  host:
                    description: Host is the URL for your MaaS instance
                    type: string
                required:
                - auth
                - host
                type: object
              MaasInstanceRules:
                properties:
                  bootable-images:
                    description: OSImages is a list of bootable os images
                    items:
                      properties:
                        name:
                          description: The name of the bootable image
                          type: string
                        os-arch:
                          description: OS Architecture
                          type: string
                      required:
                      - name
                      - os-arch
                      type: object
                    type: array
                  name:
                    description: Unique rule name
                    type: string
                  nameservers:
                    description: List of DNS Servers (IP addresses)
                    items:
                      type: string
                    type: array
                required:
                - name
                type: object
              maasExternalDnsRule:
                description: Verify that the MaasExternalDNSRule is enabled Checks
                  that MaaS has at least one DNS server configured and that this DNS
                  server is reachable on port 53.
                properties:
                  enabled:
                    type: boolean
                required:
                - enabled
                type: object
            required:
            - MaasInstance
            type: object
          status:
            description: MaasValidatorStatus defines the observed state of MaasValidator
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
